.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register,
.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.register-heading,
.add-product {
  margin-left: 5%;
}

.input-box {
  display: block;
  padding: 7px;
  display: flex;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.app-button {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
